azure-storage-file-datalake
# langchain
openai
pypdf
# pyodbc
# tiktoken
msal==1.34.0
azure-identity
azure-ai-textanalytics
azure-search-documents==11.7.0b1
azure-keyvault-secrets
pandas
datetime

pyodbc==5.2.0