azure-storage-file-datalake
# langchain
openai
pypdf
# pyodbc
# tiktoken
msal>=1.30.0,<2.0.0
azure-identity>=1.19.0,<2.0.0
azure-ai-textanalytics
azure-search-documents==11.7.0b1
azure-keyvault-secrets
pandas
datetime

pyodbc==5.2.0