azure-storage-file-datalake==12.20.0
# langchain
openai==1.63.2
pypdf==5.6.0
# tiktoken
azure-identity==1.23.1
azure-ai-textanalytics==5.3.0
azure-search-documents==11.5.2
azure-keyvault-secrets==4.7.0
pandas==2.3.0