# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Specific directory ownership
/ClientAdvisor/ @Avijit-Microsoft @Roopan-Microsoft @Prajwal-Microsoft

/ResearchAssistant/ @Avijit-Microsoft @Roopan-Microsoft @Prajwal-Microsoft

# Other directory ownership
/*  @Avijit-Microsoft @Roopan-Microsoft @Prajwal-Microsoft
/.github/
