version: 2

updates:
  # 1. React (JavaScript/TypeScript) dependencies
  - package-ecosystem: "npm"
    directory: "/src/App/frontend"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "build"
    target-branch: "dependabotchanges"
    open-pull-requests-limit: 10
    groups:
      frontend-deps:
        patterns:
          - "*"

  # 2. Python dependencies – App
  - package-ecosystem: "pip"
    directory: "/src/App"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "build"
    target-branch: "dependabotchanges"
    open-pull-requests-limit: 10
    groups:
      backend-deps:
        patterns:
          - "*"
          
  # 3. Python dependencies – Fabric Scripts
  - package-ecosystem: "pip"
    directory: "/infra/scripts/fabric_scripts"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "build"
    target-branch: "dependabotchanges"
    open-pull-requests-limit: 10
    groups:
      backend-deps:
        patterns:
          - "*"

  # 4. Python dependencies – Index Scripts
  - package-ecosystem: "pip"
    directory: "/infra/scripts/index_scripts"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "build"
    target-branch: "dependabotchanges"
    open-pull-requests-limit: 10
    groups:
      backend-deps:
        patterns:
          - "*"