.layout {
  display: flex;
  height: 100%;
  gap: 20px;
}

.header {
  /* background-color: #f2f2f2;
  position: fixed;
  width: 82%; */
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}

.headerIcon {
  height: 32px;
  width: auto;
  /* margin-left: 36px; */
  /* padding-left: 20px; */
}

.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
}

.shareButton {
  color: #ffffff;
}

.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.copyButton {
  color: #424242;
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
}

.ContentContainer{
  overflow: hidden;
  flex-grow: 1;
}

.mainPage {
  max-height: calc(100vh - 300px);
  height: 100vh;
}

.cardsColumn {
  background-color: #fff;
  /* border-radius: 20px; */
  overflow-y: auto;
  flex-grow: 0;
  max-width: 18vw;
  flex-basis: 18vw;
  min-width: 18vw;
}


.selectedClient {
  margin-top: 15px;
  font-size: 18px;
  float: right; 
  padding: 10px;
  font-size: 16px;
}



.selectedName{
  border-radius:25px;
  background: var(--bap-icons-gradients-blue-06, linear-gradient(123deg, #40C4F5 0%, #0095E6 100%));
  padding: 12px;
  color: white;
}


.contentColumn {
  /* width: 75%; */
  /* padding: 20px; */
  /* overflow-y: auto; */
  flex-direction: column;
  /* background: linear-gradient(180deg, #FFF 59.5%, #EBF3FC 100%);
  border-radius: 8px; */
  height: 100%;
  /* box-shadow: 0px 0.83px 3.33px 0px #00000052; */
  /* margin: 4rem 1rem 1rem; */
}

.welcomeMessage {
  text-align: center;
  top: 45%;
  left: 50%;
  position: absolute;
  width: auto;
  height: auto;
}

.welcomeMessage h1 {
  margin-bottom: 20px;
}

.welcomeMessage p {
  margin: 10px 0;
}

.illustration{
  width: 70px;
}

.pivotContainer {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
}

.pivotContainer > div {
  width: 100%;
}

.selectClientHeading {
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}

.meeting {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #242424;
}


.historyPanel {
  background: #f1f1f1;
  /* border-radius: 8px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}


.welcomeCard {
   /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* padding: 16px; */
  background-image:url(../../assets/Client-tourtip.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  position: relative;
  max-width: 400px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.welcomeCardIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.welcomeCardContent{
  padding: 16px;

}

.icon {
  width: 40px;
  height: 40px;
}

.cancelButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.doneButton {
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}


/*--------- New Right Layout Changes -------------*/

.contentArea {
  width: 100%;
  height: 100%;
}

.contentHeader {
  display: flex;
  justify-content: flex-end;
}

.contentBody {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
  position: relative;
  transition: all 0.3s ease;
  gap: 10px;
  margin-right:10px;
}

.mainContent {
  padding: 20px;
  border: 1px solid lightgray;
    border-radius: 8px;
    background: white;
}

.historyPanel {
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  padding: 16px;
}

/* Media Query for splitting the content-body into two parts */
.withHistory {
  grid-template-columns: 2fr 28%;
}

/* Media Query for lower resolutions or zoomed-in views */
@media screen and (max-width: 1024px) {
  .historyPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow-y: auto;
  }

  .contentBody {
    grid-template-columns: 1fr; /* Return to single column layout */
  }

  .contentBody::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Optional overlay background */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
  }
}

/*--------- New Right Layout Changes -------------*/