[MASTER]
max-line-length = 88
ignore-patterns=venv,frontend,data

[MESSAGES CONTROL]
disable=
    R0801,  # Duplicate code
    C0114,  # Missing module docstring
    C0116,  # Missing function docstring
    R0915   # Too many statements in function

[REPORTS]
output-format = colorized
