.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
  box-sizing: border-box;
  
}

.draftDocumentHeader {
  padding: 3rem;
}

.draftDocumentMainContainer {
  flex: 1;
  padding: 3rem;
  padding-top: 2rem;
  border-top: 2px solid #D2D0CE;
  background-color:#FAF9F8;
}

.draftDocumentTitle{
  color: #797775;
  margin-top: 25px;
  font-weight: 600;
  padding-bottom: 12px;
  align-self: start;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fullWidthTextField {
  width: 100%;
}

.exportButton {
  cursor: pointer;
  border: 1px solid #B3B0AD; 
  border-radius: 5px;
  display: flex; 
  align-items: center;
  background-color: #fff;
  font-size: 15px;
  padding: 10px;
}

.exportButtonDoc {
  cursor: pointer;
  border: 1px solid #B3B0AD; 
  border-radius: 5px;
  display: flex; 
  align-items: center;
  background-color: #fff;
  font-size: 15px;
  padding: 10px;
  width: 100%; 
  text-align: left; 
  margin-bottom: 8px; 
  justify-content: flex-start; 
}
  
.exportButtonDoc img {
  margin-right: 8px; 
  width: 24px; 
  height: 24px;
}

.exportButtonDoc span{
  white-space: nowrap;
}

.exportButtonPdf{
  cursor: pointer;
  border: 1px solid #B3B0AD; 
  border-radius: 5px;
  display: flex; 
  align-items: center;
  background-color: #fff;
  font-size: 15px;
  padding: 10px;
  width: 100%; 
  text-align: left; 
  justify-content: flex-start;
  margin-top: 10px !important;
}

.exportButtonPdf img{
  margin-right: 8px; 
  width: 24px; 
  height: 24px;

}

.exportButtonPdf span{
  white-space: nowrap;
}

.icon {
  width: 18px; 
  height: 18px;
  margin-right: 4px; 
  color: #0078D4; 
}

.text {
  margin-right: 4px;
  color: #0078D4 
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }
  
  .title {
    margin: 0 0 12px;
  }
  
  .inputText{
    font-weight: bold;
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;
    
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    row-gap: 6px;
  }

  .cardHeader{
    display: flex; 
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
  }
  
  .cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .regenerateButton{
    padding: 4px; 
    background-color: #0078D4; 
    /* border: '1px solid 3B3B0AD',  */
    cursor: pointer; 
    display: flex; 
    align-items: center; 
  }

  .regenerateIcon{
    width: 18px;
    height: 18px; 
    margin-right: 4px;
  }
  .regenerateButtonText{
    margin-right: 4px; 
    color: '#3B3A39'
  }

  .cardTextArea{
    background-color: white; 
    margin-top: .5rem;
    width: 100%; 
  }
  .cardParagraph{
    padding: 20px; 
    height: 300px; 
    width: 100%; 
    flex: 1;
    word-wrap: break-word !important; 
    overflow-y: auto;
    white-space: pre-wrap !important; 
    resize: vertical !important;
  }

  .regenerateCard{
    background-color:'edebe9'!important; 
    position: absolute !important; 
    width: 70%; 
    margin-top: 30px; 
    margin-left: 13rem; 
    top: 0;
    left: 0;
    padding: 1rem !important; 
    display: flex !important; 
    flex-direction: column !important; 
  }

  .cardTextDiv{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .regenerateCardClose{
    cursor: pointer; 
    margin-right: 4px; 
    color: #3B3A39;
  }

  .regenerateCardTextarea{
    height: 90px; 
    width: 100%; 
  }

  .regenerateButtonDiv{
    display: flex; 
    justify-content: flex-end; 
    margin-top: -18px;
  }
  
  .regenerateGenerateBtn{
    padding: 4px; 
    background-color: #0078D4; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    align-self: flex-end;
  }

  .exportIcon{
    width: 18px; 
    height: 18px; 
    margin-right: 4px;
    filter: invert(1); 
    color: #fff; 
    font-weight: bold;
  }

  .generateText{
    margin-right: 4px; 
    color: #ffffff;
  }

  .loadingDiv{
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .loadingText{
    margin-bottom: 1rem; 
    font-size: 1.5rem; 
    font-weight: bold;
  }

  .gradientBar{
    width: 100%; 
    height: 5px; 
    background: linear-gradient(to right, #ff8a00, #e52e71);
  }

  .generateButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -18px !important;
  }

  .regenerateGenButton{
    padding: 4px !important;
    background-color: #0078D4 !important;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 15px !important;
  }

  .regenerateGenButton img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    filter: invert(1);
    color: #fff;
    font-weight: bold;
  }
  
  .regenerateGenButton span {
    margin-right: 4px;
    color: #ffffff;
  }
  
  .generateButton {
    padding: 4px !important;
    background-color: #0078D4 !important;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .generateButton img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    filter: invert(1);
    color: #fff;
    font-weight: bold;
  }
  
  .generateButton span {
    margin-right: 4px;
    color: #ffffff;
  }
  
  .cardHeaderGenerateBtn{
    margin-right: 4px; 
    color: #ffffff;
  }

  .editableParagraph[contentEditable="true"]:focus {
    outline: none;
  }
  

  .editableParagraph:focus {
    outline: none;
  }

  .headerStyle{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: 'center'
  }

  .headerStyle p{
    font-size: 14px; 
    color: #797775;
  }

  .dividerStyle{
    width: 100%; 
    border: none; 
    border-top: 1px solid #ccc; 
    margin-bottom: 1rem; 
  }

  .exportDivStyle{
    margin-top: 20px; 
    display: flex; 
    justify-content: flex-end; 
  }

  .textfieldDiv{
    display:flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1rem; 
    width: 30%; 
    /* margin-top: 20px;  */
    margin-bottom: 30px;
  }

  .titleTextfield{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    margin-bottom: 1rem;
  }

  .dialogueButton{
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
  }

  .signatureTextfield{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1rem; 
    width: 30%; 
    margin-top: 20px; 
    margin-bottom: 30px;
  }

  .exportHeader{
    margin-bottom:16px;
  }

  .dialogueTitle{
    margin-bottom: 8px;
    text-align: center; 
  }

.dialogSurface{
  max-width: 300px !important;
}

.DialogueBody{
  display: block !important;
}


.sectionDisclaimer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  color: #707070;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  width: calc(100% - 2px);
  max-width: 100%;
  white-space: nowrap;
}

