.sidebarContainer {
    flex: 0;
    border-left: 3px solid #EDEBE9;
}

.userInfoContainer {
    flex: 1 1 5%;
    border-bottom: 1px solid #D9D9D9;
    justify-content: 'flex-start';
    align-items: 'center';
}

.userNameContainer {
    flex: 1;
    text-align: 'right'; 
    justify-content: 'flex-end';
    padding-right: .5rem;
}

.avatarContainer {
    height: 100%; 
    width: 4rem; 
    border-left: 3px solid #FFFFFF;
    align-items: center; 
    justify-content: center;
    padding: 12px;
}

.sidebarNavigationButton:hover {
    cursor: pointer;
    color: #004C87;
}

.sidebarNavigationButton:active{
    color:#797775 !important;
} 

.mt1 {
    margin-top: 1rem !important;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0F6CBD;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.noSelect {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
}