.container {
  max-height: calc(100vh - 100px);
}

.listContainer {
  overflow: hidden auto;
  max-height: calc(90vh - 105px);
}

.itemCell {
  min-height: 32px;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  background: #F3F3F3;
  margin-bottom: 10px;
}

.selectedItemCell {
  border: 1.5px solid #0481E0
}

.itemButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  cursor: pointer;
}

.chatGroup {
  margin-top: 20px;
  width: 100%;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.chatList {
  width: 100%;
}

.chatMonth {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #616161;
}

.chatTitle {
  width: 78%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
  color: #424242;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}