[MASTER]
ignore=tests  ; Ignore tests folder globally.

[MESSAGES CONTROL]
disable=
    missing-module-docstring,      ; Ignore missing module docstrings
    missing-class-docstring,       ; Ignore missing class docstrings
    missing-function-docstring,    ; Ignore missing function/method docstrings
    redefined-outer-name,          ; Ignore redefined variable warnings
    invalid-name,                  ; Ignore naming convention warnings
    unspecified-encoding,          ; Ignore open() encoding warnings
    pointless-string-statement     ; Ignore pointless string warnings