azure-identity==1.20.0
Flask==3.1.0
openai==1.70.0
azure-search-documents==11.6.0b9
azure-storage-blob==12.24.1
python-dotenv==1.0.1
azure-cosmos==4.9.0
pytest-cov==6.0.0
flake8==7.1.2
black==25.1.0
autoflake==2.3.1
isort==6.0.0
pylint==3.3.4

# Testing tools
pytest>=8.2,<9  # Compatible version for pytest-asyncio
pytest-asyncio==0.25.3