azure-identity==1.19.0
Flask==3.1.0
openai==1.58.1
azure-search-documents==11.6.0b8
azure-storage-blob==12.17.0
python-dotenv==1.0.1
azure-cosmos==4.9.0
pytest-asyncio==0.25.0
pytest-cov==6.0.0
flake8==7.1.1
black==24.10.0
autoflake==2.3.1
isort==5.13.2