[MASTER]
ignore=tests  ; Ignore tests folder globally.

[MESSAGES CONTROL]
disable=
    line-too-long,                 # Disable long line warnings
    missing-module-docstring,      # Ignore missing module docstrings
    missing-function-docstring,    # Ignore missing function docstrings
    too-many-lines,                # Ignore too many lines in module
    unused-argument,               # Ignore unused arguments
    broad-exception-caught,        # Ignore broad exception catching
    broad-exception-raised,        # Ignore broad exceptions being raised
    redefined-builtin,             # Ignore redefined built-in names
    logging-too-many-args,         # Ignore excessive arguments in logging
    unnecessary-comprehension      # Ignore unnecessary comprehensions