name: Reusable Docker build and push workflow

on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      username:
        required: true
        type: string
      password_secret:
        required: true
        type: string
      app_name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      push:
        required: true
        type: boolean
    secrets:
      DOCKER_PASSWORD:
        required: false

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Login
      if: ${{ inputs.push }}
      uses: docker/login-action@v3
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username }}
        password: ${{ secrets[inputs.password_secret] }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Determine Tag Name Based on Branch
      id: determine_tag
      run: |
        if [[ "${{ github.ref_name }}" == "main" ]]; then
          echo "tagname=latest_waf" >> $GITHUB_OUTPUT
        elif [[ "${{ github.ref_name }}" == "dev" ]]; then
          echo "tagname=dev" >> $GITHUB_OUTPUT
        elif [[ "${{ github.ref_name }}" == "demo" ]]; then
          echo "tagname=demo" >> $GITHUB_OUTPUT
        elif [[ "${{ github.ref_name }}" == "dependabotchanges" ]]; then
          echo "tagname=dependabotchanges" >> $GITHUB_OUTPUT
        else
          echo "tagname=default" >> $GITHUB_OUTPUT
      
        fi


    - name: Build Docker Image and optionally push
      uses: docker/build-push-action@v6
      with:
        context: ./src
        file: ${{ inputs.dockerfile }}
        push: ${{ inputs.push }}
        cache-from: type=registry,ref=${{ inputs.registry }}/${{ inputs.app_name}}:${{ steps.determine_tag.outputs.tagname }}
        tags: |
          ${{ inputs.registry }}/${{ inputs.app_name}}:${{ steps.determine_tag.outputs.tagname }}
          ${{ inputs.registry }}/${{ inputs.app_name}}:${{ steps.determine_tag.outputs.tagname }}_${{ steps.date.outputs.date }}_${{ github.run_number }}
