name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ClientAdvisor/App/requirements.txt
        pip install -r ResearchAssistant/App/requirements.txt
    - name: Run flake8 and pylint
      run: |
        flake8 --config=ClientAdvisor/App/.flake8 ClientAdvisor/App
        pylint --rcfile=ClientAdvisor/App/.pylintrc ClientAdvisor/App
        flake8 --config=ResearchAssistant/App/.flake8 ResearchAssistant/App
        pylint --rcfile=ResearchAssistant/App/.pylintrc ResearchAssistant/App